* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


.active {
    background: #a8a8a8;
    color: rgb(0, 0, 0);
}


/*ISO Nordic Layout*/
.keyBoard {
    display: none;
    align-items: center;
    justify-content: center;
}


/*Ansi Layout*/
.keyBoardAnsi {
    display: none;
    align-items: center;
    justify-content: center;
}

/* Individual Keys NORDIC LAYOUT */
.keyBoard #enter {
    height: 115px;
    margin-left: 15px;
}

.keyBoard #space {
    width: 390px;
}

.keyBoard #capslock {
    width: 100px;
}

.keyBoard #tab {
    width: 90px;
}

.keyBoard #shift {
    width: 65px;
}

.keyBoard #alt {
    width: 65px;
}

.keyBoard #ctrl {
    width: 65px;
}

.keyBoard #fn {
    width: 65px;
}

.keyBoard #win {
    width: 65px;
}

.keyBoard #shiftRight {
    width: 150px;
}

.keyBoard #backspace {
    width: 100px;
}



/*Nordic Layout Styling */
.keyBoard>.row1,
.row2,
.row3,
.row4,
.row5 {
    width: 780px;
    height: 60px;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    background: white;
    margin-right: 110px;
}

.keyBoard>.row1 .row2 .row3 .row4 .row5,
button {
    width: 55px;
    height: 55px;
    margin-left: 5px;
    background: white;
    outline: none;
    border-color: black;
    border-radius: 1px;
    font-size: 18px;
    color: black;
    cursor: pointer;
    box-shadow: 1px 1px 1px black;
}

.keyBoard>.row1 .row2 .row3 .row4 .row5,
button:hover {
    background: #a8a8a8;
    transition: 0.5s ease;
}

/*ANSI Layout Styling*/
.keyBoardAnsi>.row1,
.row2,
.row3,
.row4,
.row5 {
    width: 780px;
    height: 60px;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    background: white;
    margin-right: 110px;
}

.keyBoardAnsi>.row1 .row2 .row3 .row4 .row5,
button {
    width: 55px;
    height: 55px;
    margin-left: 5px;
    background: white;
    outline: none;
    border-color: black;
    border-radius: 1px;
    font-size: 18px;
    color: black;
    cursor: pointer;
    box-shadow: 1px 1px 1px black;
}

.keyBoardAnsi>.row1 .row2 .row3 .row4 .row5,
button:hover {
    background: #a8a8a8;
    transition: 0.5s ease;
}

/* Individual Keys ANSI LAYOUT */
.keyBoardAnsi #enter {
    width: 115px;
}

.keyBoardAnsi #space {
    width: 390px;
}

.keyBoardAnsi #capslock {
    width: 100px;
}

.keyBoardAnsi #tab {
    width: 90px;
}

.keyBoardAnsi #shift {
    width: 125px;
}

.keyBoardAnsi #alt {
    width: 65px;
}

.keyBoardAnsi #ctrl {
    width: 65px;
}

.keyBoardAnsi #fn {
    width: 65px;
}

.keyBoardAnsi #win {
    width: 65px;
}

.keyBoardAnsi #shiftRight {
    width: 150px;
}

.keyBoardAnsi #backspace {
    width: 100px;
}

.keyBoardAnsi #backslash {
    width: 65px;
}

/* Left Sidebar */
.sidebar>.menu>h2 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    margin-top: -60px;
    border-bottom: 1px solid white;
}

.sidebar {
    background: rgba(41, 41, 41);
    backdrop-filter: blur(15px);
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.sidebar .menu {
    width: 100%;
    margin-top: 80px;
}

.sidebar .menu .item {
    position: relative;
    cursor: pointer;
}

.sidebar .menu .item a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 60px;
}

.sidebar .menu .item a:hover {
    background: #8621f8;
    transition: 0.5s ease;
}

.sidebar .menu .item i {
    margin-right: 15px;
}

.sidebar .menu .item a .dropdown {
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.2s;
}

.sidebar .menu .item .submenu {
    display: none;
}

.sidebar .menu .item .submenu a {
    padding-left: 10%;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    margin-bottom: 200px;
    margin-top: 25px;
    margin-left: 10px;
}


/* Right Sidebar */
.sidebarRight {
    background: rgba(41, 41, 41);
    backdrop-filter: blur(15px);
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    overflow-y: auto;
}

.sidebarRight>.menu>h2 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

/* Color Picker Styling */

.sidebar .menu .item .submenucolor {
    display: flex;
    place-items: center;
    padding: 10px;
}

#colorPicker {
    margin-left: 6.5%;
}

.sidebar .menu .item .submenucolor button {
    height: 28px;
    width: 64px;
    font-size: 12px;
    margin-left: 30px;
}


/*Reset color button styling*/
.resetColorButton {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    margin-top: auto;
}

.resetColorButton button {
    position: fixed;
    bottom: 2%;
    left: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 12.5%;
    z-index: 1000;
}

.resetColors {
    background: white;
}

/*Price*/

#cartContainer {
    line-height: 60px;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}